@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none;  
  }
}

/* html {
  scrollbar-width: 10px;
  scrollbar-color: transparent;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #007acc;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #007acc;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-track:hover {
  background-color: #fff;
} */

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #0077cc; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #0077cc; /* Color of the thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #0077cc #f1f1f1; /* thumb and track color */
}

/* globals.css */
/* ::-webkit-scrollbar {
    width: 8px;
    cursor:pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: #efefef; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6; 
    border-radius: 20px 20px 20px 20px; 
    border: 2px solid #f1f1f1;
  } */


  /* Custom loader */ 
svg.loader {
  width: 1.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }

 /* Shimmer Effect & Skelton loading */
 .skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  height: 20px;
  border-radius: 4px;
  margin: 0 20px;
  padding: 0;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

 
  